{{ define "main" }}
<div class="top">
    {{ with resources.Get "images/brain_fan.jpg"}}
    <img src="{{ .RelPermalink }}">
    {{ end }}
    <h1>BrainFANS 2024 Sprint</h1>
</div>

<div class="description">
    <h1>Description of the Sprint</h1>
    <p>{{ .Content }}</p>
</div>

<h1>Teams</h1>
<div class="teams">
    <div class="team team-one">
        <h2>Team 1</h2>
        <hr>
        <div class="team-grid">
            <p>Bethan</p>
            <p>Luke</p>
            <p>Philippa</p>
            <p>Rhiannon</p>
            <p>Sam</p>
        </div>
    </div>
    <div class="team team-two">
        <h2>Team 2</h2>
        <hr>
        <div class="team-grid">
            <p>Alice</p>
            <p>Emma W</p>
            <p>Greg</p>
            <p>Marina</p>
        </div>
    </div>
</div>

<h1>Statistics</h1>
<div id="plot_grid">
    <div class="plot top-left">
        <h1>Number of lines changed</h1>
        <canvas id="lines_changed"></canvas>
    </div>

    <div class="plot top-middle">
        <h1>Number of pull requests closed</h1>
        <canvas id="closed_prs"></canvas>
    </div>

    <div class="plot top-right">
        <h1>Number of collaborative pull requests</h1>
        <canvas id="collaborative_prs"></canvas>
    </div>

    <div class="plot bottom-left">
        <h1>Number of issues currently worked on</h1>
        <canvas id="issues_worked_on"></canvas>
    </div>
</div>
<h3 id="update-time">Failed to load latest update time.</h3>
{{ end }}
