body {
  font-family: Outfit, sans-serif;
  background-color: #222222;
  color: #fffbf0;
  padding: 20px;
}

#plot_grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 2%;
}

.plot {
  display: flex;
  flex-direction: column;
  align-items: center;
}
